<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wes Anderson - About</title>
    <link rel="stylesheet" href="/stylesheets/stylesabout.css" />
  </head>
  <body>
    <div class="main">
      <div>
        <h1>About Wes Anderson</h1>
        <p>
          Wesley Wales Anderson (born May 1, 1969) is an American filmmaker. His
          films are known for their eccentricity and unique visual and narrative
          styles. They often contain themes of grief, loss of innocence, and
          dysfunctional families. Cited by some critics as a modern-day example
          of the work of an auteur, three of Anderson's films have appeared in
          BBC Culture's 2016 poll of the greatest films since 2000. He gained
          acclaim for his early work Bottle Rocket (1996), and Rushmore (1998).
          During this time, he often collaborated with Luke Wilson and Owen
          Wilson and founded his production company American Empirical Pictures,
          which he currently runs. He then received a nomination for the Academy
          Award for Best Original Screenplay for The Royal Tenenbaums (2001).
          His next films included The Life Aquatic with Steve Zissou (2004), The
          Darjeeling Limited (2007), and his first stop-motion film Fantastic
          Mr. Fox (2009) for which he received an Academy Award for Best
          Animated Feature nomination, and then Moonrise Kingdom (2012) earning
          his second Academy Award for Best Original Screenplay nomination. With
          Anderson's film The Grand Budapest Hotel (2014), he received his first
          Academy Award nominations for Best Director and Best Picture, and won
          the Golden Globe Award for Best Motion Picture – Musical or Comedy and
          the BAFTA Award for Best Original Screenplay. The next films included
          his second stop-motion film Isle of Dogs (2018), which earned him the
          Silver Bear for Best Director, and The French Dispatch (2021). His
          next film, Asteroid City, is slated for release in June, 2023.
        </p>
      </div>

      <img src="/images/wesandersonabout.jpg" alt="" />
    </div>

    <a href="/home">Home</a>
  </body>
</html>
