<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wes Anderson</title>
    <link rel="stylesheet" href="/stylesheets/styleshome.css" />
  </head>
  <body>
    <h1>Wes Anderson</h1>
    <img src="/images/wesandersonhome.jpg" />
    <a href="/about">About Wes Anderson</a>
    <a href="/works">Movies Directed by Wes Anderson</a>
  </body>
</html>
